*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
/lib/*
/spec/factories/files/*
**.orig
rerun.txt
pickle-email-*.html
.DS_Store
config/env_vars
db/seed/*
#.idea is a rubymine folder
.idea
/doc/notes.txt
.powder
.tags
.tags_sorted_by_file
app/views/sitemap/sitemap.xml.builder
app/views/transcript_complete_mailer
app/views/organization_member_invite_mailer
app/assets/html/plans
app/assets/html/dashboard


bin/deploy

bin/nudge
